<div class="about-us-container">
  <div class="image-container">
    <img
      src="assets/aboutus.jpg"
      alt="Metalline Processing"
      class="about-us-image"
    />
  </div>
  <div class="text-container">
    <h2>About Us</h2>
    <p>India’s leader in Stainless Steel Surface Finishes</p>
    <p>
      Metalline is based in Bengaluru, southern part of India.
      Specialized in processing of stainless steel flat products in cutting,
      slitting and polishing to various finishes like No.4, Hairline, Scotch
      Brite, No.8, Bead Blast, Vibration, Etched and PVD Coated.
    </p>
    <p>
      Metalline is one of the best stainless steel flat product service centre in
      the world with a long and successful history in Processing, Import, Export
      and Trading, established since 1959 as a family venture. Company has three
      processing centres and another one coming soon, followed by five
      distribution centres across India. Metalline is considered to be the best
      supplier for providing stainless steel for use in construction of
      Strategic industrial, Infrastructural and Residential Projects providing
      our customers with high-quality products and services.
    </p>
    <p>
      Metalline operates in every sector where stainless steel is used from
      architecture to construction, elevator industry, interior designs, urban
      design, aviation and automotive, defining the highest quality standards
      for the global market.
    </p>
  </div>
</div>


<div class="mission-statements">
    <div class="mission-statement">
      <h3 class="mission-heading quality">Providing High Quality and Constant Control of the Quality</h3>
      <p>Our products are considered to be one of the best in the world and are used during the construction of most of the strategic industrial projects. Our qualified specialists, who help us to create status of a group leader in the market, provide us a full range of testing the quality of products.</p>
    </div>
    <div class="mission-statement">
      <h3 class="mission-heading cooperation">Long-Term and Reliable Cooperation with Customers</h3>
      <p>We work to build long-term and reliable cooperation with our customers, providing them with high-quality products and services. Our products are well known all over the world. The company's work is famous for its quality. We are trusted, and we are highly recommended by our customers.</p>
    </div>
    <div class="mission-statement">
      <h3 class="mission-heading honesty">Honesty in Relations with Customers and Partners</h3>
      <p>We live in a rapidly changing world. But invariable were and still are the basic principles on which the activity of the company has been built - honesty in relations with customers and partners, an extensive range of products, consistently high quality of our products, accessible prices, the desire for stability.</p>
    </div>
  </div>

  
  <div class="core-values">
    <h2>Core Values</h2> <div class="core-values-inner">
    <div class="core-value">
      <div class="value-content">
        <h3>We Strive for Our Customers</h3>
        <p>We work to build long-term and reliable cooperation with our customers, providing them with high-quality products and services. The satisfaction of our customers - that is the main task.</p>
      </div>
    </div>
    <div class="core-value">
      <div class="value-content">
        <h3>Integrity</h3>
        <p>Our products are considered to be one of the best in the world and is used during the construction of most of the strategic industrial, infrastructural and residential projects.</p>
      </div>
    </div>
    <div class="core-value">
      <div class="value-content">
        <h3>Respectful Attitude to Each Customer</h3>
        <p>Respect goes beyond treating people politely. It means we value other people's experience, opinions and act by listening first. We may not always agree, but we will always be respectful.</p>
      </div>
    </div>
    <div class="core-value">
      <div class="value-content">
        <h3>We Really Love What We Do</h3>
        <p>Everyone who comes in contact with us should leave with something, whether an employee, a peer, a customer - or just a stranger in need.</p>
      </div>
    </div>
    </div>
  </div>

  <div class="product-advantages">
    <div class="product-advantages-inner">
    <div class="image-container">
      <img src="assets/productadv.jpg" alt="Product Advantages Image" />
    </div>
    <div class="text-container">
      <h2>Our Product Advantages</h2>
      <p>We pride ourselves on being pioneers of innovative stainless steel solutions which make our products far superior compared to our competitors.</p>
      <ul>
        <li>Maintaining high-level standards for quality stainless steel products</li>
        <li>Unique and Classy designs to fulfill customer needs</li>
        <li>Rich experience in exporting anywhere in the world</li>
        <li>Our products are 100% reusable and recyclable</li>
        <li>We stock the largest inventory in India for stainless steel products</li>
        <li>Corrosion-free, Dent-free, Scratch-free, sustainable and hygienic, waterproof, etc.</li>
      </ul>
    </div>
      </div>
  </div>