<mat-toolbar color="primary">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="toolbar-content">
    <div fxLayout="row" fxLayoutAlign="start center" class="toolbar-left">
      <a mat-button routerLink="/" class="brand-title">Your Brand</a>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center">
      <button mat-icon-button (click)="toggleMenu()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" class="nav-links">
      <a mat-button routerLink="/home">Home</a>
      <a mat-button routerLink="/about">About Us</a>
      <div class="dropdown">
        <a mat-button (click)="toggleDropdown()">Products</a>
        <div *ngIf="isDropdownOpen" class="dropdown-content">
          <a mat-button (click)="navigateToSubtype('subtype1')">Subtype 1</a>
          <a mat-button (click)="navigateToSubtype('subtype2')">Subtype 2</a>
          <a mat-button (click)="navigateToSubtype('subtype3')">Subtype 3</a>
        </div>
      </div>
      <a mat-button routerLink="/applications">Applications</a>
      <a mat-button routerLink="/resources">Resources</a>
      <a mat-button routerLink="/contact">Contact Us</a>
    </div>
  </div>

  <div class="mobile-menu" *ngIf="isMenuOpen">
    <div class="mobile-menu-content" fxLayout="column">
      <a mat-button routerLink="/home" (click)="toggleMenu()">Home</a>
      <a mat-button routerLink="/about" (click)="toggleMenu()">About Us</a>
      <div class="dropdown">
        <a mat-button (click)="toggleDropdown()">Products</a>
        <div *ngIf="isDropdownOpen" class="dropdown-content">
          <a mat-button (click)="navigateToSubtype('subtype1')">Subtype 1</a>
          <a mat-button (click)="navigateToSubtype('subtype2')">Subtype 2</a>
          <a mat-button (click)="navigateToSubtype('subtype3')">Subtype 3</a>
        </div>
      </div>
      <a mat-button routerLink="/applications" (click)="toggleMenu()">Applications</a>
      <a mat-button routerLink="/resources" (click)="toggleMenu()">Resources</a>
      <a mat-button routerLink="/contact" (click)="toggleMenu()">Contact</a>
    </div>
  </div>
</mat-toolbar>
