/* header.component.css */
.toolbar-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
}

.nav-links a {
  margin-left: 16px;
}

.menu-button {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  height: calc(100vh - 64px);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu-content {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.mobile-menu-content a {
  width: 100%;
  margin: 8px 0;
  padding: 16px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
}

/* Media Queries */
@media (max-width: 768px) {
  .toolbar-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .brand-title {
    text-align: left;
    margin-left: 16px;
  }

  .menu-button {
    display: block;
  }

  .nav-links {
    display: none;
  }
}

/* Larger screens */
@media (min-width: 769px) {
  .mobile-menu {
    display: none !important;
  }
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 4px;
  padding: 8px 0;
  min-width: 150px;
}

.dropdown-content a {
  padding: 8px 16px;
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.mobile-menu .dropdown-content {
  position: relative;
  box-shadow: none;
  background-color: transparent;
}

@media (max-width: 768px) {
  .dropdown-content {
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(134, 123, 123);
  }

  .dropdown-content a {
    color: rgb(0, 64, 255);
    padding: 12px;
  }
}
