<mat-toolbar>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="toolbar-content">
    <div fxLayout="row" fxLayoutAlign="start center" class="toolbar-left">
      <a mat-button routerLink="/" class="brand-title">METALLINE</a>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center">
      <button mat-icon-button (click)="toggleMenu()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" class="nav-links">
      <a mat-button routerLink="/home" (click)="toggle()">Home</a>
      <a mat-button routerLink="/about" (click)="toggle()">About Us</a>
      <div class="dropdown">
        <a mat-button (click)="toggleDropdown()">Products</a>
        <div *ngIf="isDropdownOpen" class="dropdown-content">
          <a mat-button (click)="navigateToSubtype('2B/BAMillFinish')">2B/BA Mill Finish</a>
          <a mat-button (click)="navigateToSubtype('#4Brushed')">#4 Brushed</a>
          <a mat-button (click)="navigateToSubtype('Hairline')">Hairline</a>
          <a mat-button (click)="navigateToSubtype('#8SuperMirror')">#8 Super Mirror</a>
          <a mat-button (click)="navigateToSubtype('SSStrips')">S. S. Strips</a>
          <a mat-button (click)="navigateToSubtype('Pipes&Tubes')">Pipes & Tubes</a>
          <a mat-button (click)="navigateToSubtype('SSFlats')">SS Flats</a>
          <a mat-button (click)="navigateToSubtype('SSPipes')">SS Pipes</a>
          <a mat-button (click)="navigateToSubtype('SSAngles')">SS Angles</a>
          <a mat-button (click)="navigateToSubtype('SSRods')">SS Rods</a>
          <a mat-button (click)="navigateToSubtype('SSHrFinishSheets')">SS HR Finish Sheets</a>
          <a mat-button (click)="navigateToSubtype('SSPlates')">SS Plates</a>
        </div>
      </div>
      <a mat-button routerLink="/applications" (click)="toggle()">Applications</a>
      <a mat-button routerLink="/resources/lNuSZiRGXco" (click)="toggle()">Resources</a>
      <a mat-button routerLink="/contact" (click)="toggle()">Contact Us</a>
    </div>
  </div>

  <div class="mobile-menu" *ngIf="isMenuOpen">
    <div class="mobile-menu-content" fxLayout="column">
      <a mat-button routerLink="/home" (click)="toggleMenu()">Home</a>
      <a mat-button routerLink="/about" (click)="toggleMenu()">About Us</a>
      <div class="dropdown">
        <a mat-button (click)="toggleDropdown()">Products</a>
        <div *ngIf="isDropdownOpen" class="dropdown-content">
          <a mat-button (click)="navigateToSubtype('2B/BAMillFinish')">2B/BA Mill Finish</a>
          <a mat-button (click)="navigateToSubtype('#4Brushed')">#4 Brushed</a>
          <a mat-button (click)="navigateToSubtype('Hairline')">Hairline</a>
          <a mat-button (click)="navigateToSubtype('#8SuperMirror')">#8 Super Mirror</a>
          <a mat-button (click)="navigateToSubtype('SSStrips')">S. S. Strips</a>
          <a mat-button (click)="navigateToSubtype('Pipes&Tubes')">Pipes & Tubes</a>
          <a mat-button (click)="navigateToSubtype('SSFlats')">SS Flats</a>
          <a mat-button (click)="navigateToSubtype('SSPipes')">SS Pipes</a>
          <a mat-button (click)="navigateToSubtype('SSAngles')">SS Angles</a>
          <a mat-button (click)="navigateToSubtype('SSRods')">SS Rods</a>
          <a mat-button (click)="navigateToSubtype('SSHrFinishSheets')">SS HR Finish Sheets</a>
          <a mat-button (click)="navigateToSubtype('SSPlates')">SS Plates</a>
        </div>
      </div>
      <a mat-button routerLink="/applications" (click)="toggleMenu()">Applications</a>
      <a mat-button routerLink="/resources/lNuSZiRGXco" (click)="toggleMenu()">Resources</a>
      <a mat-button routerLink="/contact" (click)="toggleMenu()">Contact</a>
    </div>
  </div>
</mat-toolbar>
