<div class="contact-container">
    <div class="contact-form">
      <h2>Contact Us</h2>
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" required>
          <mat-error *ngIf="contactForm.get('name')?.hasError('required')">Name is required</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required email>
          <mat-error *ngIf="contactForm.get('email')?.hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="contactForm.get('email')?.hasError('email')">Invalid email format</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Phone Number</mat-label>
          <input matInput type="tel" formControlName="phone">
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Message</mat-label>
          <textarea matInput formControlName="message" rows="5" required></textarea>
          <mat-error *ngIf="contactForm.get('message')?.hasError('required')">Message is required</mat-error>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit" style="background-color: #3d3c3c; color: white;">Send Message</button>
      </form>
    </div>
  
    <div class="contact-info">
      <h2>Our Location</h2>
      <div class="map-container">
        <iframe
          [src]="safeUrl"
          width="600"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <p><strong>Address: </strong>Metalline No.5, Tumkur Main Road, Opp Peenya Industry Metro Station, Peenya 1st Stage, Bangalore-560058</p>
      <p><strong>Phone:</strong> +91 99807 00859</p>
      <p><strong>Landline:</strong> 080-41445029</p>
      <p><strong>Email:</strong> Metallineblr&#64;gmail.com</p>
    </div>
  </div>
  